# /boot/local/load_kernel_modules.pre.sample
#
# This is a user-serviceable script that is executed within the
# OS InitRD (Operating System Initial RAM Disk) prior to any Kernel
# module lists being set.
#
# This script is aimed at advanced users who would like to perform any
# customisations early on in the boot process, perhaps where editing /init
# directly would be the normal route.
# Typically users won't need to use this script.
